<h1>Your employee is: </h1>
<br>
<p><%= @employee.first_name %></p>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<br>
<img src="<%= @employee.img_url %>" />
