<h1> Dog Index </h1>

<% if @button %>
    <% @dogs.each do |dog| %>
        <p><%= link_to dog.name, dog_path(dog) %></p>
    <% end %>
<% else %>
    <ol>
        <% @popular_dogs.each do |dog| %>
                <li><%= link_to dog.name, dog_path(dog) %></li>
        <% end %>
    </ol>

<% end %>

<%= link_to "Sort by Most Popular Dog", '/dogs/:id', :method=> :patch %>




<hr>
<%= link_to "Employee Index", employees_path %><br><br>
<%= link_to "Dog Index", dogs_path %><br><br>

